<h1>Edit Game</h1>

<%= simple_form_for @game, html: { multipart: true } do |f| %>
  <%= f.select :platform_id, @platforms %>
  <%= f.file_field :game_img %>
  <%= f.input :title, label: "Game Title" %>
  <%= f.input :developer %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>
