<div class="row">
  <div class="col-md-4">
    <%= image_tag @game.game_img.url(:game_show), class: "game-show" %>
  </div>
  <div class="col-md-8">
    <h2><%= @game.title %></h2>
    <h4>Developer: <%= @game.developer %></h4>
    <p><%= @game.description %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render @game.reviews %>
    <div>
      <%= link_to "Add Review", new_game_review_path(@game) %>
    </div>
  </div>
</div>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>
  <% if @game.user_id == current_user.id %>
    <%= link_to "Edit", edit_game_path(@game) %>
    <%= link_to "Delete", game_path(@game), method: :delete, data: { confirm: "Are you sure you want to delete #{@game.title}?" } %>
  <% end %>
<% end %>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
